/* Modelo de um comentario em CSS*/
body{
    /*background-image: url(backgourd-pagina.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
}

#Principal{
    color: dodgerBlue;
    background-color: blue;
}

#Titulo{
    color: #d32390;
}
#Paragrafos{
    /* ordem de criação inline
    background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;
    */
    background: url(img-fundo.jpg) center/cover no-repeat fixed;
    /* background-image: url(img-fundo.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    */
}
#in{
    background-color: green;
    width: 1in;
    height: 1in;
}
#cm{
    background-color: blue;
    width: 1cm;
    height: 1cm;
}
#mm{
    background-color: red;
    width: 5mm;
    height: 5mm;
}
#pc{
    background-color: green;
    width: 1pc;
    height: 1pc;
}
#pt{
    background-color: blue;
    width: 10pt;
    height: 10pt;
}
#px{
    background-color: red;
    width: 10px;
    height: 10px;
}

#base{
    background-color: red;
    height: 10px;
}

#container_a{
    background-color: blue;
    color: white;
    margin: 10px;
    padding: 5px;
}

.sub_div{
    background-color: yellowgreen;
}

.texto_verde{ 
    color:rgba(0,120,0,0.8); 
}

.container{
    /*font-size: 20px;*/
    width: 30%;
    /*height: 10vmin*/
    background: red;
}

.insider{
    /*font-size: 2rem;
    font-size: 2em;*/
    width: 20vw;
    /*height: 10vh;*/
    background: blue;
}