.quadrado{
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
    
}
.retangulo{
    width: 50px;
    height: 100px;
    margin: auto;
    display: inline-block;
    
}

.static{
    position: static;
}
.relative{
    position: relative;
}
.fixed{
    position: fixed;
}
.absolute{
    position: absolute;
}


.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-blue{
    background-color: blue;
}

img{
    display: block;
    margin: auto;



}